/* --- estilos background ---*/
.fondo-animado {
    background: linear-gradient(-45deg, #383838, #533E85, #23a6d5, #DFDFDE);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




/* --- estilos formulario inicio de sesion, registro y recuperar contraseña ---*/

.formulario-inicio{
    width:  450px;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute !important;
    left: 50%;
}
.formulario-inicio-icono{
    font-size: 5rem;
}
.formulario-enlaces a{
    font-size: 1rem;
    text-decoration: none;
}
.formulario-registro-footer{
    background: none !important;
}
.formulario-cabecera{
    color:  #424642;
    text-align: center;
    background: none !important;
}
.formulario-enlace-inicio{
    justify-content: center;
    display: flex;
    transform: translate(0px, 550px);
}

/*-----Estilos Sidebar---*/
.sidebar-menu-usuario{
    transform: translate(0px, 350px);
}
.sidebar-menu-usuario, a{
    color:  #424642;
}

.sidebar{
    background-color: #533E85;
}
.sidebar-lista-principal a:hover{
    color:  white;
}
.sidebar-lista-principal a{
    color: white;
}
.sidebar-lista-principal  li:hover a:hover{
    background:  white;
    color: #424642;
    border-radius: 5px;
}

.foto-perfil{
    width: 130px;
    height: 130px;
}

/*-----Estilos cards menu principal---*/
.enlaces-album{
    font-size: 0.9rem;
}

.cards-categoria a{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
.cards-categoria a:hover{
    color: white;
}
.cards-categoria:hover{
    border: 2px solid #069A8E;
}

.cards-categoria{
    border-radius: 15px !important;
    background-color: rgba(8, 8, 8, 0.85);
    justify-content: center !important;
    display: flex !important;
    align-items: center !important;
}

.img-favoritos{
    height: 75px;
}
.cards-favoritos{
    height: 100px;
    display: flex;
    justify-content: center;
}

/*-----Estilos animacion del boton---*/
.btn-animacion {
    color: white;
    position: relative;
    background: #533E85;
    border: none;
    height: 40px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .btn-animacion:after {
    content: "";
    background: #F7F7F7;
    display: block;
    position: absolute;
    padding-top: 200%;
    padding-left: 130%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s;
    border-radius: 10px
  }
  
  .btn-animacion:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

  /*-- Estilos animacion de lista -- */
  .card{
      border: none!important;
  }


  /* --- Animaciones en cards de album --*/
.cards-pop {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .cards-pop:hover, .cards-pop:focus, .cards-pop:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /* --- sidebar animacion */